@{
    ViewData["Title"] = "Home Page";
}



<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Welcome to My AddressBook</h1>
        <p class="lead">I am a passionate developer who loves creating innovative and creative solutions to everyday problems.</p>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" id="projects-button" href="#my-projects" role="button">See My Other Projects</a>
    </div>
</div>

<div class="container-fluid">
    <div class="row" id="about-me">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <h2>About Me</h2>
            <p>I am a full-stack web developer with experience in HTML, CSS, JavaScript, and several front-end and back-end frameworks. My passion is to create innovative and creative solutions to everyday problems. When I am not coding, I enjoy hiking and photography.</p>
            <p>Check out my <a href="https://www.linkedin.com/in/neel-profile/">LinkedIn</a> profile for more information about my skills and experience.</p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <img src="https://via.placeholder.com/300" alt="Profile Picture">
        </div>
    </div>

    <section id="projects" class="section">
        <div class="container">
            <h2 class="section-title text-center">My Projects</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-img-top">
                            <a href="#"><img src="https://via.placeholder.com/300" alt="Project 1"></a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Project 1</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            <a href="#" class="btn btn-primary">View Project</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-img-top">
                            <a href="#"><img src="https://via.placeholder.com/300" alt="Ptoject 2"></a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Project 2</h5>
                            <p class="card-text">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <a href="#" class="btn btn-primary">View Project</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-img-top">
                            <a href="#"><img src="https://via.placeholder.com/300" alt="project 3"></a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Project 3</h5>
                            <p class="card-text">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            <a href="#" class="btn btn-primary">View Project</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        // scroll to projects section on button click
        var projectsButton = document.getElementById("projects-button");
        projectsButton.addEventListener("click", function () {
            var projectsSection = document.getElementById("projects");
            projectsSection.scrollIntoView({ behavior: "smooth" });
        });
    </script>

